# Node modules
node_modules/

# Environment variables (¡MUY IMPORTANTE!)
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build files
dist/
build/